@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d18100;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #aa6902;
  box-shadow:2px 2px 2px #7f4f01;
  cursor:pointer;
}
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



